.App {
  text-align: center;
  align-items: center;
  margin: 0%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-main {
  /* background-color: #282c34; */
  margin: 0% 15%;
  width: 70%;
}

.App-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  vertical-align: middle;
  min-height: 50vh;
}

.App-login-form {
  width: 60%;
  max-width: 400px;
}

.App-player {
  text-align: left;
  font-size: calc(10px + 2vmin);

  min-height: 100vh;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #f3c69f;
}

.App-player > .row {
  margin: 0px;
}

body, html{
  height:100%;
}